#Задание по практике 1

##Загрузка датасета
В файле classification datasets расположены ссылки на датасеты. Выберите один в соответствии со своим вариантом, скачайте и прочитайте файл

**Не забудьте загрузить нужные библиотеки**

Например: pip3 install pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('cwurData.csv')
df[:5]

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012

##Первое знакомство с датасетом
В следующих ячейках выведите:


1.   Колонки датасета
2.   Первые 5 значений
3.   Последние 5 значений
4.   Статистику по числовым колонкам

In [ ]:
df.columns

Index(['world_rank', 'institution', 'country', 'national_rank',
       'quality_of_education', 'alumni_employment', 'quality_of_faculty',
       'publications', 'influence', 'citations', 'broad_impact', 'patents',
       'score', 'year'],
      dtype='object')

In [ ]:
df.head(5)

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012

In [ ]:
df.tail(5)

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
2195,996,University of the Algarve,Portugal,7,367,567,218,926,845,812,969.0,816,44.03,2015
2196,997,Alexandria University,Egypt,4,236,566,218,997,908,645,981.0,871,44.03,2015
2197,998,Federal University of Ceará,Brazil,18,367,549,218,830,823,812,975.0,824,44.03,2015
2198,999,University of A Coruña,Spain,40,367,567,218,886,974,812,975.0,651,44.02,2015
2199,1000,China Pharmaceutical University,China,83,367,567,218,861,991,812,981.0,547,44.02,2015

In [ ]:
df.describe()

,world_rank,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2000.000000,2200.000000,2200.000000,2200.000000
mean,459.590909,40.278182,275.100455,357.116818,178.888182,459.908636,459.797727,413.417273,496.699500,433.346364,47.798395,2014.318182
std,304.320363,51.740870,121.935100,186.779252,64.050885,303.760352,303.331822,264.366549,286.919755,273.996525,7.760806,0.762130
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,43.360000,2012.000000
25%,175.750000,6.000000,175.750000,175.750000,175.750000,175.750000,175.750000,161.000000,250.500000,170.750000,44.460000,2014.000000
50%,450.500000,21.000000,355.000000,450.500000,210.000000,450.500000,450.500000,406.000000,496.000000,426.000000,45.100000,2014.000000
75%,725.250000,49.000000,367.000000,478.000000,218.000000,725.000000,725.250000,645.000000,741.000000,714.250000,47.545000,2015.000000
max,1000.000000,229.000000,367.000000,567.000000,218.000000,1000.000000,991.000000,812.000000,1000.000000,871.000000,100.000000,2015.000000

**Ответьте на следующие вопросы:**


1.   Какие средние значения в каждой числовой колонке вашего датасета?
2.   Минимальные и максимальные значения в каждой числовой колонке вашего датасета


**Ответ 1.**

In [ ]:
df.mean(numeric_only = True)

world_rank               459.590909
national_rank             40.278182
quality_of_education     275.100455
alumni_employment        357.116818
quality_of_faculty       178.888182
publications             459.908636
influence                459.797727
citations                413.417273
broad_impact             496.699500
patents                  433.346364
score                     47.798395
year                    2014.318182
dtype: float64

**Ответ 2.**

In [ ]:
df.max(numeric_only=True)

world_rank              1000.0
national_rank            229.0
quality_of_education     367.0
alumni_employment        567.0
quality_of_faculty       218.0
publications            1000.0
influence                991.0
citations                812.0
broad_impact            1000.0
patents                  871.0
score                    100.0
year                    2015.0
dtype: float64

In [ ]:
df.min(numeric_only=True)

world_rank                 1.00
national_rank              1.00
quality_of_education       1.00
alumni_employment          1.00
quality_of_faculty         1.00
publications               1.00
influence                  1.00
citations                  1.00
broad_impact               1.00
patents                    1.00
score                     43.36
year                    2012.00
dtype: float64

##Типизация
Присвойте соответствующим колонкам один из типов (category, float, int)

In [ ]:
df['quality_of_faculty'] = df['quality_of_faculty'].astype('int')
df['broad_impact'] = df['broad_impact'].astype('float')
df['year'] = df['year'].astype('category')

Какие признаки вы можете выделить в своем датасете (категориальные, числовые и др., **минимум 3 разных**, помните что можно также выделить признаки более точно, например числовые - порядковые, количественные и т.д.)?

##Фильтрация
Офильтруйте 3 колонки вашего датасета и выведите результат

In [ ]:
df[df['score'] > 99]

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
100,1,Harvard University,USA,1,1,1,1,1,1,1,NaN,7,100.00,2013
200,1,Harvard University,USA,1,1,1,1,1,1,1,1.0,2,100.00,2014
201,2,Stanford University,USA,2,11,2,4,5,3,3,4.0,6,99.09,2014
1200,1,Harvard University,USA,1,1,1,1,1,1,1,1.0,3,100.00,2015

In [ ]:
df[df['world_rank'] > 990]

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
1190,991,Zhejiang Normal University,China,81,355,478,210,905,932,800,979.0,737,44.26,2014
1191,992,King Abdulaziz University,Saudi Arabia,4,355,470,210,843,688,609,998.0,637,44.26,2014
1192,993,Iran University of Science and Technology,Iran,8,355,478,210,822,987,493,989.0,737,44.25,2014
1193,994,I-Shou University,Taiwan,23,355,478,210,878,987,800,989.0,737,44.24,2014
1194,995,University of Maine (Le Mans),France,50,355,478,210,990,918,800,989.0,637,44.24,2014
1195,996,National Dong Hwa University,Taiwan,24,355,478,210,901,934,800,989.0,737,44.24,2014
1196,997,National Taipei University of Technology,Taiwan,25,355,478,210,867,987,800,994.0,737,44.24,2014
1197,998,Shaanxi Normal University,China,82,355,478,210,956,965,800,994.0,737,44.23,2014
1198,999,National University of Defense Technology,China,83,355,478,210,860,973,800,999.0,637,44.21,2014
1199,1000,Yanbian University,China,84,355,478,210,890,790,800,1000.0,737,44.18,2014
2190,991,Xidian University,China,81,367,542,218,830,974,812,984.0,434,44.03,2015
2191,992,Federal University of Bahia,Brazil,17,367,540,218,962,865,645,969.0,774,44.03,2015
2192,993,Southwest Jiaotong University,China,82,367,327,218,937,962,812,998.0,861,44.03,2015
2193,994,Ryerson University,Canada,33,367,567,218,811,969,511,975.0,756,44.03,2015
2194,995,King Abdulaziz University,Saudi Arabia,4,367,449,218,595,430,645,994.0,839,44.03,2015
2195,996,University of the Algarve,Portugal,7,367,567,218,926,845,812,969.0,816,44.03,2015
2196,997,Alexandria University,Egypt,4,236,566,218,997,908,645,981.0,871,44.03,2015
2197,998,Federal University of Ceará,Brazil,18,367,549,218,830,823,812,975.0,824,44.03,2015
2198,999,University of A Coruña,Spain,40,367,567,218,886,974,812,975.0,651,44.02,2015
2199,1000,China Pharmaceutical University,China,83,367,567,218,861,991,812,981.0,547,44.02,2015

In [ ]:
df[df['quality_of_education'] == 360]

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
1484,285,University of Aberdeen,United Kingdom,26,360,314,199,273,207,287,225.0,422,46.17,2015

##Группировка
Сгруппируйте датасет по какому-либо категориальному признаку и выведите среднее значение численных колонок (см. метод mean в pandas)

In [ ]:
df.groupby(['country']).mean(numeric_only=True)

,world_rank,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score
country,,,,,,,,,,,
Argentina,719.714286,2.285714,302.428571,498.428571,203.142857,577.428571,600.714286,522.142857,683.285714,794.428571,44.672857
Australia,497.310345,13.137931,287.120690,383.551724,192.724138,418.017241,401.103448,433.224138,496.277778,473.155172,45.825517
Austria,551.625000,6.500000,331.458333,435.833333,193.625000,575.875000,496.791667,525.583333,498.666667,535.708333,45.139583
Belgium,362.300000,5.500000,247.700000,372.650000,173.000000,392.750000,398.900000,287.950000,337.450000,359.650000,47.011000
Brazil,748.361111,9.500000,348.250000,442.055556,214.000000,622.194444,726.888889,608.000000,736.500000,639.111111,44.781111
Bulgaria,835.500000,1.000000,244.000000,522.500000,214.000000,806.000000,877.500000,525.500000,807.500000,804.000000,44.335000
Canada,400.236111,15.347222,287.041667,289.583333,182.375000,374.611111,403.722222,320.305556,424.261538,454.069444,47.359306
Chile,654.375000,2.500000,323.875000,367.875000,214.000000,635.625000,513.750000,593.625000,625.750000,490.000000,44.767500
China,687.616766,42.251497,346.461078,401.443114,213.976048,588.568862,751.005988,636.910180,707.514970,529.772455,44.992575
Colombia,777.000000,1.500000,361.000000,237.000000,214.000000,888.250000,647.750000,563.750000,924.750000,746.000000,44.432500
Croatia,557.500000,1.000000,361.000000,522.500000,214.000000,562.500000,534.500000,417.000000,465.500000,538.000000,44.770000
Cyprus,940.500000,1.000000,361.000000,522.500000,214.000000,811.000000,891.500000,627.000000,904.500000,776.500000,44.210000
Czech Republic,698.500000,3.000000,342.400000,521.800000,203.800000,664.900000,602.400000,541.300000,633.500000,650.500000,44.761000
Denmark,232.666667,2.666667,263.833333,308.583333,143.000000,234.833333,230.500000,174.666667,235.200000,248.666667,47.774167
Egypt,927.750000,2.500000,316.125000,509.500000,205.000000,886.125000,867.500000,617.375000,913.875000,804.000000,44.230000
Estonia,546.500000,1.000000,359.000000,522.500000,214.000000,593.000000,353.000000,387.000000,476.500000,342.500000,44.810000
Finland,418.350000,4.600000,292.800000,367.750000,188.600000,417.800000,389.300000,474.350000,434.277778,532.600000,45.531500
France,501.128440,23.211009,262.403670,428.550459,181.174312,507.357798,439.449541,472.935780,545.272727,498.642202,46.367339
Germany,380.730435,26.860870,263.026087,406.591304,181.600000,366.713043,325.608696,364.739130,347.390909,419.617391,46.413130
Greece,588.928571,4.000000,334.714286,479.714286,214.000000,503.857143,720.285714,518.214286,525.000000,765.428571,44.854286
Hong Kong,347.250000,3.500000,303.083333,352.750000,195.333333,274.333333,602.500000,370.583333,322.833333,346.250000,46.295000
Hungary,684.250000,3.500000,296.500000,522.500000,194.583333,704.166667,641.833333,587.000000,636.166667,556.083333,44.603333
Iceland,488.500000,1.000000,361.000000,522.500000,214.000000,620.500000,303.000000,315.500000,389.000000,788.000000,44.980000
India,638.516129,8.258065,324.419355,349.129032,213.838710,676.000000,814.387097,599.096774,711.903226,574.516129,44.713226
Iran,890.187500,4.500000,322.187500,522.500000,214.000000,711.937500,949.250000,681.687500,865.625000,804.000000,44.270000
Ireland,597.937500,4.500000,324.625000,401.000000,211.812500,642.250000,598.250000,467.312500,573.625000,350.875000,45.235000
Israel,181.590909,3.454545,119.590909,248.272727,80.181818,205.954545,192.272727,287.363636,315.357143,120.636364,52.654091
Italy,489.791667,23.520833,327.916667,478.677083,197.364583,466.781250,492.281250,461.843750,436.106383,630.989583,45.450208
Japan,528.264151,35.132075,291.930818,383.729560,187.943396,610.811321,526.584906,486.949686,563.391892,353.396226,47.229560
Lebanon,621.500000,1.000000,108.500000,226.000000,214.000000,903.500000,871.000000,806.000000,864.500000,804.000000,44.655000
Lithuania,814.500000,1.000000,333.000000,522.500000,214.000000,794.500000,685.000000,627.000000,742.000000,710.500000,44.355000
Malaysia,529.166667,2.000000,361.000000,390.500000,214.000000,733.833333,891.500000,595.000000,851.000000,184.833333,45.008333
Mexico,553.000000,1.500000,308.250000,517.250000,214.000000,375.500000,393.500000,402.000000,538.250000,473.500000,45.102500
Netherlands,216.862069,6.413793,252.862069,315.206897,175.862069,170.793103,240.517241,184.862069,193.346154,367.758621,47.958276
New Zealand,540.666667,3.500000,300.583333,342.833333,214.000000,546.250000,484.833333,468.666667,555.416667,586.666667,45.112500
Norway,347.250000,2.666667,253.583333,347.583333,144.333333,329.916667,296.083333,246.750000,354.900000,513.750000,46.330000
Poland,766.444444,5.000000,300.444444,478.666667,206.611111,680.000000,753.500000,577.111111,757.500000,665.166667,44.497222
Portugal,557.500000,4.000000,316.857143,493.642857,187.000000,471.571429,537.428571,487.214286,535.071429,462.142857,45.095000
Puerto Rico,969.500000,1.000000,361.000000,522.500000,214.000000,998.500000,785.500000,627.000000,938.500000,804.000000,44.175000
Romania,976.666667,1.333333,308.333333,537.333333,215.333333,852.000000,811.666667,688.666667,956.666667,826.333333,44.133333
Russia,421.555556,2.444444,85.444444,312.888889,160.111111,608.111111,540.888889,494.000000,733.875000,730.000000,47.381111
Saudi Arabia,750.250000,2.500000,361.000000,342.875000,190.875000,748.375000,656.375000,740.375000,951.875000,471.500000,44.511250
Serbia,767.500000,1.000000,278.000000,522.500000,214.000000,435.000000,698.000000,502.000000,757.500000,780.500000,44.420000
Singapore,101.800000,1.400000,309.000000,268.600000,191.400000,65.400000,222.000000,134.800000,161.750000,26.600000,50.160000
Slovak Republic,708.500000,1.000000,361.000000,522.500000,214.000000,708.000000,624.500000,569.000000,609.000000,804.000000,44.490000
Slovenia,672.000000,1.500000,361.000000,522.500000,214.000000,601.500000,623.500000,437.750000,610.000000,637.000000,44.615000
South Africa,361.900000,3.000000,250.700000,127.100000,191.300000,497.800000,385.800000,339.800000,503.800000,420.900000,46.399000
South Korea,515.694444,17.541667,350.638889,406.736111,210.972222,556.736111,669.000000,570.180556,631.085714,186.680556,46.198333
Spain,624.456790,20.753086,350.395062,469.901235,213.851852,559.024691,637.444444,568.444444,615.037037,436.135802,44.990864
Sweden,246.458333,5.583333,225.375000,327.416667,149.375000,256.125000,243.958333,219.041667,237.772727,727.333333,47.890000
Switzerland,182.038462,4.230769,132.538462,231.730769,103.961538,216.076923,149.730769,165.423077,219.166667,281.500000,51.208846
Taiwan,726.413043,12.086957,332.782609,421.826087,213.652174,569.521739,779.913043,677.956522,724.739130,742.152174,45.012391
Thailand,560.833333,2.000000,361.000000,363.500000,214.000000,634.000000,613.833333,468.500000,597.666667,802.333333,45.116667
Turkey,753.650000,5.500000,350.300000,429.150000,214.000000,730.700000,797.800000,551.750000,729.450000,795.050000,44.481000
USA,290.528796,97.790576,218.476440,257.514834,145.228621,339.567190,280.134380,257.055846,348.262009,296.279232,51.839860
Uganda,880.000000,1.000000,361.000000,522.500000,214.000000,898.500000,682.000000,627.000000,820.500000,804.000000,44.280000
United Arab Emirates,937.000000,1.000000,361.000000,499.500000,214.000000,988.500000,836.000000,806.000000,901.500000,557.500000,44.220000
United Kingdom,378.458333,29.736111,235.618056,306.284722,166.750000,395.951389,347.791667,319.263889,403.472868,423.416667,49.474653
Uruguay,900.000000,33.500000,361.000000,522.500000,214.000000,877.000000,706.500000,806.000000,849.000000,804.000000,44.255000

##Задание для гениев *
Агрегируйте числовой признак по категориальному признаку с использованием метода **без использования** библиотеки pandas, и вычислите медиану и среднее значение для каждой категории.

In [ ]:
#Агрегация